@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--dark-beige: #e6dacd;
	--light-beige: #f4ece6;
	--royal-blue: #0150fd;
	--black: #000;
	--white: #fff;
	--font_0: normal normal bold 100px/1.4em poppins-semibold, poppins, sans-serif;
	--font_1: normal normal bold 35px/1.4em poppins-semibold, poppins, sans-serif;
	--font_2: normal normal bold 27px/1.4em poppins-semibold, poppins, sans-serif;
	--font_3: normal normal bold 25px/1.4em poppins-semibold, poppins, sans-serif;
	--font_4: normal normal bold 20px/1.4em poppins-semibold, poppins, sans-serif;
}

/* header */
.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 140px;
	background-color: var(--white);
}
.personal_brand {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
}
.brand_wrapper {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.blue_square {
	height: 24px;
	width: 24px;
	background-color: var(--royal-blue);
}
.name {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.75rem;
	font-weight: 600;
}
.desktop {
	display: none;
	font-size: 2rem;
}
.field {
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

/* hamburger menu */
#menu__toggle {
	opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
	width: 100%;
}
#menu__toggle:checked ~ .menu__box {
	right: 0;
}
.menu__btn {
	position: absolute;
	top: 66px;
	right: 30px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 10;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: var(--royal-blue);
	transition-duration: 0.25s;
}
.menu__btn > span::before {
	content: '';
	top: -12px;
	width: 50%;
}
.menu__btn > span::after {
	content: '';
	top: 12px;
	width: 50%;
	right: 0;
}
.menu__box {
	display: block;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	/* height: fit-content; */
	height: 100%;
	margin: 0;
	padding: 8rem 0;
	gap: 0.75rem;
	list-style: none;
	background-color: var(--dark-beige);
	/* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); */
	transition-duration: 0.25s;
	text-align: center;
	align-items: center;
	z-index: 2;
}
.menu__item {
	display: block;
	/* padding: 12px 16px; */
	/* margin-top: 0.75rem; */
	font: var(--font_4);
	font-weight: 300;
	/* font-size: 1rem; */
	/* font-weight: 600; */
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: 0.25s;
}
.menu__item:hover {
	background-color: var(--royal-blue);
}

/* hero section */
.hero {
	position: relative;
	z-index: 0;
}
.hero_left {
	position: absolute;
	background-color: var(--light-beige);
	width: 90%;
	text-align: center;
	margin-left: 10%;
	padding: 2.5rem 0;
	z-index: 1;
}
.hero_left h1 {
	font-family: var(--font_1);
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 2rem;
	width: 150px;
	margin: auto;
}
.avatar {
	border-radius: 100%;
	height: 12rem;
	width: 12rem;
}
.blue_bar {
	height: 4px;
	width: 120px;
	background-color: var(--royal-blue);
	margin: 2rem auto;
}
.buttons {
	display: flex;
	gap: 1rem;
	justify-content: center;
}
.resume,
.projects {
	padding: 0.25rem 1.5rem;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	border-radius: 48px;
}
.resume {
	background-color: var(--royal-blue);
	color: var(--white);
	border-style: none;
}
.projects {
	background-color: var(--light-beige);
	border: 2px var(--black) solid;
}
.desktop_text {
	display: none;
}
.social_medial_icons {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
	gap: 1.5rem;
	background-color: var(--white);
	margin-top: 3rem;
	margin-bottom: -1rem;
}
.fa {
	font-size: 24px;
	color: var(--black);
	text-decoration: none;
}

.hero_right {
	position: absolute;
	top: 14rem;
	width: 100%;
	background-color: var(--dark-beige);
	padding: 22rem 0 2.5rem 0;
	margin-bottom: 2.5rem;
}

.hello {
	font: var(--font_0);
	font-family: 'Montserrat', sans-serif;
}
.text_content {
	width: 90%;
	margin-left: 10%;
	color: rgba(0, 0, 0, 1);
}
.subtitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.25rem;
	margin-bottom: 1.5rem;
}
.description {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 1rem;
	font-weight: lighter;
	line-height: 1.5em;
	margin-right: 3%;
}

/* footer section */
.footer {
	display: grid;
	position: absolute;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: 'call_us email_us' 'follow_us follow_us' 'credit credit';
	background-color: var(--white);
	margin-top: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 2.5rem;
	margin-bottom: -10%;
	gap: 2rem;
	top: 100%;
	bottom: 0;
}

.call_us {
	grid-area: call_us;
}
.email_us {
	grid-area: email_us;
}
.follow_us {
	grid-area: follow_us;
}
.credit {
	grid-area: credit;
	margin-right: 2rem;
	padding-bottom: 2rem;
}
.call,
.write,
.follow {
	font: var(--font_4);
}
.call_us,
.follow_us,
.credit {
	margin-left: 2.5rem;
}
.call_us p,
.email_us p,
.credit p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}
.call,
.write,
.follow {
	margin-bottom: 0.5rem;
}
.icons .fa {
	margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
	.header {
		position: fixed;
		z-index: 20;
	}
	.personal_brand {
		flex-direction: row;
		align-items: center;
		margin-left: 5%;
	}
	.desktop {
		display: block;
		/* font-size: 2rem; */
	}
	.hamburger-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.menu__btn {
		display: none;
	}
	.temp {
		display: none;
	}
	.menu__box {
		display: flex;
		position: relative;
		right: 10%;
		flex-direction: row;
		align-items: center;
		margin-right: 10%;
		/* align-items: center; */
		background-color: var(--white);
		/* background-color: yellow; */
	}
	.menu__item {
		font-size: 1rem;
		overflow-wrap: normal;
	}
	.hero_left h1 {
		font: 12px/18px; /*12px font-size and 18px line-height*/
	}
	.hero_left {
		grid-area: left;
		position: static;
		padding: 2.5rem 0 0 0;
		margin-left: -22rem;
		margin-top: 17rem;
		height: 59%;
		width: 100%;
	}
	.hero_right {
		grid-area: right;
		position: static;
		padding: 20rem 4rem 0 0;
		margin-left: -20rem;
		background-color: var(--white);
		top: 14rem;
		width: 100%;
		margin-bottom: 0;
	}
	.empty_grid {
		grid-area: 1 / 1 / 2 / 2;
		position: static;
		background-color: var(--dark-beige);
		height: 107%;
		width: 100%;
		/* padding-bottom: 14rem; */
	}
	.hero {
		position: static;
		width: 100%;
		display: grid;
		grid-template-columns: 40% 1fr 1fr;
		grid-template-rows: 1fr 300px;
		grid-template-areas: 'empty left right' 'empty . .';
		/* background-color: var(--dark-beige); */
	}
	.empty_grid {
		background-color: var(--dark-beige);
	}
	.social_medial_icons {
		margin-bottom: 7rem;
	}
	.hero_left .buttons {
		display: none;
	}
	.hero_right .buttons {
		justify-content: flex-start;
		margin-bottom: 1.5rem;
	}
	.desktop_text {
		display: block;
		font-weight: 300;
	}
	/* .hero {
		display: flex;
		position: relative;
		width: 80%;
		background-color: var(--dark-beige);
		justify-content: center;
		gap: 4rem;
		padding-bottom: 17rem;
	}
	.hero_right {
		position: absolute;
		padding: 10rem 4rem 0 3rem;
		margin-bottom: 2.5rem;
		margin-top: 4rem;
		background-color: var(--white);
	}

	.hero,
	.hero_left,
	.hero_right {
		position: static;
	}
	.hero_left {
		position: absolute;
		width: 70%;
		position: relative;
		top: 8rem;
		left: 12%;
		padding: 2.5rem 0 0 0;
		margin-bottom: 0;
		margin-top: 4rem;
		z-index: 0;
	}
	.social_medial_icons {
		margin-bottom: 7rem;
	}
	.hero_left .buttons {
		display: none;
	}
	.hero_right .buttons {
		justify-content: flex-start;
		margin-bottom: 1.5rem;
	} */
	.footer {
		position: relative;
		top: 0;
		margin-top: -12rem;
		padding: 0;
	}
}
